# data Structures
- string
- **list**
- tuple
- set
- **dictionary**

list
- ordered, indexed, mutable, allows, duplicate elements
- heterogenous(mixed type of values can be stored)
- can be nested
- `list()` constructor is used for creating a list from other sequence
- represented by [ ]

create, access, modify

In [1]:
x = [] #empty list
y = list() #empty list
print (x,y)
print(type(x), type(y))

[] []
<class 'list'> <class 'list'>

In [2]:
x = [1,2,3,4,5] # numbers
names = ['ajay', 'vijay', 'sanjay']
print(x, names)

[1, 2, 3, 4, 5] ['ajay', 'vijay', 'sanjay']

In [4]:
mixed = ['Apple', 100, 'banana', 40,'orange',50]
print(mixed)

['Apple', 100, 'banana', 40, 'orange', 50]

In [6]:
ones = [1] * 10 #duplicate 1 10 times and store it in list
ones = ['apple', 1] * 10 #duplicate 1 10 times and store it in list
print(ones)

['apple', 1, 'apple', 1, 'apple', 1, 'apple', 1, 'apple', 1, 'apple', 1, 'apple', 1, 'apple', 1, 'apple', 1, 'apple', 1]

In [7]:
word = 'Homosapiens'
chrs = list(word)
print(chrs)

['H', 'o', 'm', 'o', 's', 'a', 'p', 'i', 'e', 'n', 's']

In [9]:
x = [1,2,3,4,5,7] # numbers
for i in x:
    print(i + 100)

101
102
103
104
105
107

In [10]:
books = ['Book1', 'book2', 'book3']
books[0] = 'steelheart' # update list
print(books)

['steelheart', 'book2', 'book3']

In [11]:
books[1] = 'the final Empire'
books[2] = 'The way of kings'
print(books)

['steelheart', 'the final Empire', 'The way of kings']

- `list_var.append(single_element)`
- `list_var.remove(single_element)`

In [12]:
# to add element at last
books.append("the hero of ages")
print(books)

['steelheart', 'the final Empire', 'The way of kings', 'the hero of ages']

In [13]:
# to remove element form list
books.remove("the hero of ages")
print(books)

['steelheart', 'the final Empire', 'The way of kings']

In [26]:
books = [] # numbers
for i in range(3):
    books.append(input())    
print(books)

['asd', 'asd', 'aad']

In [35]:
movies = ''' "Suits","intersteller","another life", "lucifer" ,"game of thrones","the boys","inception","bond007","KGF","Lord of rings"
'''.split(',')
print(movies)

[' "Suits"', '"intersteller"', '"another life"', ' "lucifer" ', '"game of thrones"', '"the boys"', '"inception"', '"bond007"', '"KGF"', '"Lord of rings"\n']

In [34]:
movies[:-5] #first 3 elements

[]

In [37]:
movies[3:-3] # start at index 5 and stop at index -5

[' "lucifer" ', '"game of thrones"', '"the boys"', '"inception"']

In [38]:
movies[::-1] # reverse the list

['"Lord of rings"\n',
 '"KGF"',
 '"bond007"',
 '"inception"',
 '"the boys"',
 '"game of thrones"',
 ' "lucifer" ',
 '"another life"',
 '"intersteller"',
 ' "Suits"']

In [39]:
print(movies[::2]) #every second element

[' "Suits"', '"another life"', '"game of thrones"', '"inception"', '"KGF"']

# methods in list -- 11
- adding
    - append()
    - insert()
    - extend()
- remove
    - remove()
    - pop()
    - clear()
- utility
    - index()
    - count()
    - sort()
    - reverse()
    - copy()

In [43]:
x = [1,2]
x.append(3,4,5)  # cant append more than 1 
print(x)

TypeError: list.append() takes exactly one argument (3 given)

In [44]:
x = [1,2]
x.append(3)
print(x)

[1, 2, 3]

In [46]:
x.insert(1, 1.5) # insert 1.5 at index 1 and shift rest of the elements
print(x)

[1, 1.5, 2, 3]

In [47]:
x.insert(2, 2.5) 
print(x)

[1, 1.5, 2.5, 2, 3]

In [49]:
x.insert(3, 100)
print(x)

[1, 1.5, 2.5, 100, 2, 3]

In [53]:
a = [1,2,3]
b = [4,1,2,3]
a + b

[1, 2, 3, 4, 1, 2, 3]

In [54]:
a.extend(b)
print(a)

[1, 2, 3, 4, 1, 2, 3]

- WAP to calculate the sum of all elements in a list
- wap to find the largest number
- wap to find the smallest no in the list
-