# 5 variations of Print() function

In [2]:
name = "Sam"
price = 99.99
qty = 10
print(name, price, qty, price * qty)
print(name * qty)

Sam 99.99 10 999.9
SamSamSamSamSamSamSamSamSamSam

# name purchases qty items for price costing total

In [3]:
#comma seperated values

print(name, "purchases", qty, "items for", price, "costing", price * qty)

Sam purchases 10 items for 99.99 costing 999.9

In [5]:
# concatationation using + (plus)

print(name + " purchases " + str(qty) + " items for " + str(price) + " costing " + str(price * qty))

Sam purchases 10 items for 99.99 costing 999.9

In [7]:
# format specifier using % (module)

print( "%s purchases %d items for %f costing %f" %(name, qty, price, price * qty))

Sam purchases 10 items for 99.990000 costing 999.900000

In [8]:
#  format method

print ("{} purchases {} items for {} costing {}" .format(name, qty, price, price * qty ))

Sam purchases 10 items for 99.99 costing 999.9

In [11]:
# f - string

print(f'{name} purchases {qty} items for {price} costing { price * qty }')

Sam purchases 10 items for 99.99 costing 999.9

In [12]:
print(f" Name => {name}")
print(f" Price => ${price}")
print(f" Quantity => {qty}")
print(f" Total price => ${price * qty:.3f}")

 Name => Sam
 Price => $99.99
 Quantity => 10
 Total price => $999.900

- wap to find the are of circle when the user provides the radius
- wap to find the simple interst when the user provides the principle rate time
- calculate and display the hypotenuse

In [13]:
sum([1,4,5,6])

In [14]:
min([1,4,5,6])

1

In [15]:
max([1,4,5,6])

6

In [1]:
len([12,4,5,6])

4

In [2]:
len("halo")

4

In [3]:
average = sum([1,4,5,6]) / len([1,4,5,6])

4.0