## tuple
- tuple is immutable
- tuple is indexed, ordered, and allows duplicate elements
- tuple is faster than list
- heterogeneous elements can be stored in tuple
- `tuple()` function can be used to convert sequence to tuple
- represented by `(  )`

In [1]:
x = (1,2,3)
print(x, type(x))

(1, 2, 3) <class 'tuple'>

In [2]:
y = "hello", "world", "of", "tuple"  # data packing
print(y, type(y))

('hello', 'world', 'of', 'tuple') <class 'tuple'>

In [6]:
# data unpacking
a, b, c, d = y
print (a,b,c,d)

hello world of tuple

In [9]:
a, *b = y 
print(a)
print(b)

hello
['world', 'of', 'tuple']

In [10]:
for i in y:
    print(i)

hello
world
of
tuple

In [11]:
y[:2]  # slicing

('hello', 'world')

In [13]:
y.count("oof") #count

0

In [14]:
x = (1,2,2,1,1,1,2,2,3,3) #count
x.count(2)

4

In [18]:
z = (1,2,3,4,5,6,7,8,9,1,2,3,4,5,6)
sum = 0 
for i in z:
    sum += i
    average = sum/15
print(average)

4.4

# SET
- unordered
- unindexed
- no duplicate elements
- mutable
- can only store immutable elements
- represented by `{ }`
- `set()` function can be used to convert sequence to set

In [19]:
x = {1,2,3,4,5,6,7,8,9,10} #set
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
set('aviral')

{'a', 'i', 'l', 'r', 'v'}

In [22]:
y = {"String", "number", 1203, [1,2,4]}

TypeError: unhashable type: 'list'

In [25]:
a = {12,1,2,45,12,4,5,21,45,6,77,77,78,99,0,8,0,43,42,3}
print(a)

{0, 1, 2, 3, 4, 5, 6, 8, 12, 77, 78, 21, 99, 42, 43, 45}

In [27]:
for i in a:
    sum +=i
    print(i)
print(sum)

0
1
2
3
4
5
6
8
12
77
78
21
99
42
43
45
958

In [28]:
x = {1,2,3,4}
y = {3,4,5,6}
z = {1,2,7,8}

In [29]:
x.union(z)

{1, 2, 3, 4, 7, 8}

In [31]:
x.union(y)

{1, 2, 3, 4, 5, 6}

In [32]:
y.union(z) #union

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
x | y #union

{1, 2, 3, 4, 5, 6}

In [34]:
x | y | z # union

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
x & y  # Intersection

{3, 4}

In [38]:
x - y  # difference

{1, 2}

In [42]:
y - x

{5, 6}

In [43]:
x > y # is x super set of y

False

In [44]:
x < {1,2,3,4,5,6} # subset

True

In [46]:
x > {1,2,3,}

True

In [50]:
x.issubset(y)

False

In [51]:
x.issuperset(y)

False

In [52]:
x ^ y # inverse of intersection

{1, 2, 5, 6}

In [54]:
x.add(12) 
x

{1, 2, 3, 4, 12}

In [56]:
x.update([12,13,14,15,5])
x

{1, 2, 3, 4, 5, 12, 13, 14, 15}

In [58]:
x.discard(13)
x

{1, 2, 3, 4, 5, 12, 14, 15}

In [60]:
x.pop()

2